aiohttp>=3.10.11
aiosignal
anyio
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
concurrent-log-handler
discord.py
frozenlist
idna
iso8601
multidict
pillow
psutil
pygithub
python-iso639
pytz
soupsieve
urllib3
yarl