aiohttp>=3.10.11
aiosignal
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
concurrent-log-handler
discord.py
frozenlist
idna
iso8601
multidict
pillow
portalocker
psutil
pygithub
pyparsing
pytz
requests
soupsieve
urllib3
yarl
zombie-imp