aiohttp>=3.10.11
aiosignal
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
concurrent-log-handler
discord.py==2.4.0
frozenlist
idna
iso8601
multidict
pillow
portalocker
psutil
pyparsing
pytz
requests
soupsieve
urllib3
yarl